
#include "wx/msw/wx.rc"
A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "tray.ico"
TrayIcon	ICON 	"tray.ico"
Bell 		WAVE	DISCARDABLE	"alarm.wav"

// lines ending with the comment 'version' should be updated manually everytime the version is changed.

#define CompanyName "Thunderbird Software"
#define ProductName "Cook Timer"
#define ProductNameVersion ProductName " v" ProductVersion
#define ProductNameDev "CookTimer"
#define FileVersion	   "0.9.0"		// version
#define ProductVersion "0.9.0"		// version

1 VERSIONINFO
FILEVERSION 0,9,0,0				// version
PRODUCTVERSION 0,9,0,0				// version
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
{
BLOCK "StringFileInfo"
	{
	BLOCK "040904e4"
		{
		VALUE "FileDescription", ProductName
		VALUE "ProductVersion", ProductVersion
		VALUE "FileVersion", FileVersion
		VALUE "LegalCopyright", "Copyright(C) 2007, " CompanyName
		VALUE "ProductName", ProductName
		VALUE "CompanyName", CompanyName
		VALUE "InternalName", ProductNameDev
		//VALUE "InternalName", ProductNameDev " $Rev: 60 $"
		}
	}

BLOCK "VarFileInfo"
	{
	VALUE "Translation", 0x0409 0x04E4
	}
}

